.slider-section {
  overflow: hidden;
  width: 100%;

}



.slider-content {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: scroll 15s linear infinite;
}

.slider-content img {
  width: 150px;
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}