.slider-section {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
}

.slider-space {
  overflow: hidden;
  width: 100%;
}

.slider-content {
  display: flex;
  gap: 20px;
  width: max-content;          
  animation: scroll 20s linear infinite; 
}

.slider-content img {
  width: 150px;
  height: 50px;               
  object-fit: contain;
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);  
  }
}